.navbar {
  width: 80%;
  height: 80px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.navTit {
  text-decoration: none;
  color: #fec260;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 0 orangered;
}
.navTit:hover {
  color: yellow;
  text-shadow: 2px 2px 0 black;
}
.navTit:active {
  color: orangered;
  transform: scale(0.9);
}

.navTitDis {
  margin-left: auto;
  margin-right: auto;
  color: #22eaaa;
  text-shadow: 2px 2px 0 rgb(51, 51, 190);
}

.navRight {
  margin-left: auto;
  margin-right: auto;
}

.navLogo {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #fec260;
  font-size: 48px;
  text-shadow: 2px 2px 0 orangered;
}
.navLogo:hover {
  color: yellow;
  text-shadow: 3px 3px 0 black;
}
.navLogo:active {
  color: orangered;
  transform: scale(0.95);
}
