.navbar {
  width: 80%;
  height: 80px;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.navTit {
  text-decoration: none;
  color: #fec260;
  margin-left: auto;
  margin-right: auto;
}
.navTit:hover {
  color: yellow;
  text-shadow: -1px 1px 0 purple, 1px 1px 0 purple, 1px -1px 0 purple,
    -1px -1px 0 #000;
  font-weight: bold;
}
.navTit:active {
  color: orangered;
  transform: scale(0.9);
}

.tit {
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  color: #22eaaa;
}

.navLeft {
  margin-left: auto;
  margin-right: auto;
}

.navLogo {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #fec260;
  font-size: 40px;
}
.navLogo:hover {
  color: yellow;
  text-shadow: -1px 1px 0 purple, 1px 1px 0 purple, 1px -1px 0 purple,
    -1px -1px 0 #000;
  font-weight: bold;
}
.navLogo:active {
  color: orangered;
  transform: scale(0.9);
}
