@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather+Sans:wght@300&display=swap");
.App {
  width: 100%;
  min-height: 800px;
  color: wheat;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  background: linear-gradient(
    132deg,
    #6424dc,
    #7a13aa,
    #cf1bc0,
    #f80759,
    #ff9318
  );
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
